@model TasteFoodIt.Entities.OpenDayHour
@{
    ViewBag.Title = "CreateOpenDayHour";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Çalışma Saati Ekle</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">Çalışma Saati</li>
            <li class="breadcrumb-item active" aria-current="page">Çalışma Saati İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Ekleme Paneli</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Gün Adı</label>
                            @Html.TextBoxFor(x => x.DayName, new { @class = "form-control", placeholder = "Gün Adını Giriniz" })

                        </div>
                        <div class="form-group">
                            <label>Saat Aralığı</label>
                            @Html.TextBoxFor(x => x.OpenHourRange, new { @class = "form-control", placeholder = "Saat Aralığı Giriniz" })

                        </div>

                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

