<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/About/AboutList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Hakkımızda İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Address/AddressList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Adres İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Kategori işlemleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Ürün işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/AdminList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Yönetici işlemleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Chef/ChefList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Şef işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Contact/MessageList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Mesaj işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Çalışma Saatleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Rezervasyon işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Testimonial/TestimonialList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Referans işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>

</ul>
