<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard/DashboardList">
        <div class="sidebar-brand-icon">
            <img src="~/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">Ana sayfa    </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard/DashboardList">
            <i class="fas fa-fw fa-chart-pie"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/About/AboutList">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>Hakkımızda İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Address/AddressList">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Adres İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Kategori işlemleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>Ürün işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/AdminList">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Yönetici işlemleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Chef/ChefList">
            <i class="fas fa-fw fa-people-carry"></i>
            <span>Şef işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Contact/MessageList">
            <i class="fas fa-fw fa-envelope"></i>
            <span>Mesaj işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Notification/NotificationList">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Bildirim işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList">
            <i class="fas fa-fw fa-calendar-day"></i>
            <span>Çalışma Saatleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Rezervasyon işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Testimonial/TestimonialList">
            <i class="fas fa-fw fa-users"></i>
            <span>Referans işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/SocialMedia/SocialMediaList">
            <i class="fas fa-fw fa-hashtag"></i>
            <span>Sosyal Medya işlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>

</ul>
