@model List<TasteFoodIt.Entities.SocialMedia>
<div class="col-md-6 col-lg-3">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Bizi Takip Edin</h2>
        <p>Sosyal medya hesaplarımızı takip ederek günlük fırsatlarımızdan faydalanabilir ve yeniliklerimizden haberdar olabilirsiniz.</p>
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            @foreach (var item in Model)
            {
            <li class="ftco-animate"><a href="@item.RedirectUrl"><span class="fa fa-@item.IconUrl"></span></a></li>
            }
            
        </ul>
    </div>
</div>
