<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
    <div class="container py-5">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h2>Lezzetli ve Besleyici Yiyecekler Yapıyoruz</h2>
                <a href="/Detail/Reservation/" class="btn btn-white btn-outline-white">Rezervasyon</a>
            </div>
        </div>
    </div>
</section>
