<footer class="ftco-footer ftco-no-pb ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bizi Takip Edin</h2>
                    <p>Sosyal medya hesaplarımızı takip ederek günlük fırsatlarımızdan faydalanabilir ve yeniliklerimizden haberdar olabilirsiniz.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Çalışma Saati</h2>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex"><span>Pazartesi</span><span>9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Salı</span><span>9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Çarşamba</span><span>9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Perşembe</span><span>9:00 - 24:00</span></li>
                        <li class="d-flex"><span>Cuma</span><span>9:00 - 02:00</span></li>
                        <li class="d-flex"><span>Cumartesi</span><span>9:00 - 02:00</span></li>
                        <li class="d-flex"><span>Pazar</span><span> Kapalı</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Instagram</h2>
                    <div class="thumb d-sm-flex">
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-1.jpg);">
                        </a>
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-2.jpg);">
                        </a>
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-3.jpg);">
                        </a>
                    </div>
                    <div class="thumb d-flex">
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-4.jpg);">
                        </a>
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-5.jpg);">
                        </a>
                        <a href="#" class="thumb-menu img" style="background-image: url(/Templates/tasteit-master/images/insta-6.jpg);">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bilgi Al</h2>
                    <p>Yeni yiyeceklerimizi önce siz tadın. </p>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Lütfen Mail adresinizi giriniz">
                            <input type="submit" value="Abone ol" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 bg-primary py-3">
        <div class="row no-gutters">
            <div class="col-md-12 text-center">

                <p class="mb-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Emre Keskiner 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>