
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}


<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-md-12">
                <h2 class="h4 font-weight-bold">İletişim Bilgileri</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Adres:</span>@ViewBag.locale</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Telefon:</span> <a href="tel://@ViewBag.phone">@ViewBag.phone</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Email:</span> <a href="mailto:@ViewBag.email">@ViewBag.email</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Web:</span> <a href="#">@ViewBag.webSite</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-5 order-md-last">
                <h2 class="h4 mb-5 font-weight-bold">Bize Mesaj Gönderin</h2>
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adınız Soyadınız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div id=""><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.376932483459!2d28.159418876162658!3d38.47894347128591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b85baaf7e2d1cb%3A0x55b25d5b323f64ca!2sAvar%20Cd.%20No%3A123!5e0!3m2!1str!2str!4v1708754922976!5m2!1str!2str" width="550" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</section>

