@model List<TasteFoodIt.Entities.Product>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/Templates/tasteit-master/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread">Menü</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Anasayfa <i class="fa fa-chevron-right"></i></a></span> <span>Menü <i class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Eşsiz Lezzetlerimiz</span>
                <h2 class="mb-4">Menümüz</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="menu-wrap">
                        <div class="heading-menu text-center ftco-animate">
                            <h3>Breakfast</h3>
                        </div>
                        <div class="menus d-flex ftco-animate">
                            <div class="menu-img img" style="background-image: url(@item.ImageUrl);"></div>
                            <div class="text">
                                <div class="d-flex">
                                    <div class="one-half">
                                        <h3>@item.ProductName</h3>
                                    </div>
                                    <div class="one-forth">
                                        <span class="price">@item.Price</span>
                                    </div>
                                </div>
                                <p><span>@item.Description</span></p>
                            </div>
                        </div>


                        <span class="flat flaticon-bread" style="left: 0;"></span>
                        <span class="flat flaticon-breakfast" style="right: 0;"></span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

