
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>TasteFoodIt Yönetici Paneli</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->

    <link href="~/Templates/ruang-admin/css/logincss.css" rel="stylesheet" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>TasteFoodIt Admin Paneli</h3>

        <label for="username">Kullanıcı Adı</label>
        <input type="text" name="Username" placeholder="" id="username">

        <label for="password">Şifre</label>
        <input type="password" placeholder="" name="Password" id="password">

        <button>Giriş</button>
        
    </form>
</body>
</html>
